@page "/reportsMain"
<RadzenTabs>
    <Tabs>
        @*<RadzenTabsItem Text="Graphical Reports">
            <div>
                <Graphical />
            </div>
        </RadzenTabsItem>*@
        <RadzenTabsItem Text="Tabulated Reports">
            <div>
                <Lists />
            </div>
        </RadzenTabsItem>
    </Tabs>
</RadzenTabs>
@code {

}
