@inherits LayoutComponentBase
@inject NavigationManager NavigationManager
@using HealthCare.Client.Shared.MenuItems
@inject Blazored.SessionStorage.ISessionStorageService sessionStorage



<div class="sidebar">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/admin/dashboard">Dashboard</a></li>
    </ul>
    <button @onclick="Logout">Logout</button>
</div>

<div class="content">
    @Body
</div>

@code {
    private async Task Logout()
    {
        // Clear the user session or authentication token
        // Redirect to the login page
        await sessionStorage.ClearAsync();
        NavigationManager.NavigateTo("/login");

    }
}
